html,
body {
  height: 100%;
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2013/12/23/203577/b1eafc141f43b9b81ed8cae5e63bb5a7-700.jpg);
  background-size: cover;
  background-position-y: center;
  
}

.navbar{
  background-color: #da634d;
}

.logo{
  height: 65px; 
}

.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 40%;
  margin-top: 50px;
  margin-left: 80px;
  border: solid black 1px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#error-message {
  color: red;
}